#header-nav {
  border-radius: 0;
  border: 0;
}
.navbar {
	background-color: pink;
}

.navbar-brand h1 {
	font-size: 1.2em;
	text-decoration: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	margin: 0px 0px;

}
#collapsable-nav {
		margin-left: 0px;
	margin-right: 0px;
}
#nav-list {
	margin-top: 50px;
	background-color: pink;
	width:100%;
}
#nav-list a {
	text-align: center;
	font-weight: bold;
	color: Black;
}
#main-content {
	height: 1000px;
}
